body{
    background-color: rgb(255, 226, 226);
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif; 
}
.header h1{
    font-size: 30px;
    text-align: center;

}
.header h1::after{
    content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  display: block;
  margin: auto;

}