body{
    background-color: azure;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header h1{
    font-size: 50px;
}
.header h1::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
}
