body{
    background-color: rgb(222, 194, 194);
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
}
.header h1{
    color:rgb(0, 0, 0);
    text-align: left;
    font-size: 60px;
}
.header h1::after{
    content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  display: block;
  margin: auto;

}
.header nav li{
    list-style: none;
    padding: 8px 12px;
    position: left;
    font-size: 20px;
    display: inline-block;

}
.header nav li a{
    color: black;
    text-decoration: none;
    
}
.header nav li a::after{
    content: '';
    width: 0%;
    height: 2px;
    
    display: block;
    margin: auto;
    transition: 0.5s;
    background: rgb(248, 113, 113);
    
}
.header nav li a:hover::after{
    width: 100%;
}