body{
    background-color: rgb(235, 201, 201);
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.header h1{
    font-size: 30px;
    text-align: center;
}
.header h1::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
  
}