@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    
	height: 100vh;
	font-family: 'Poppins' sans-serif;
	font-size: 12vw;
	text-transform: uppercase;
	overflow: hidden;
}
.BIT span:nth-child(1)
{
    animation-name: BITleft ;

}
.BIT span:nth-child(2)
{
	animation-name: BITleft;
	animation-delay: .3s;
}

.BIT span:nth-child(3)
{
	animation-name: BITleft;
	animation-delay: .3s;
}@keyframes BITleft{
	50%{
		transform: skew(50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}


@keyframes BITleft{
	50%{
		transform: skew(-50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}