@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@600&family=Pacifico&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Bebas+Neue&family=Caveat:wght@600&family=Pacifico&display=swap');
body{

    background-color: rgb(234, 229, 231);
}
nav {

    font-family:'Caveat', sans-serif;

     
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 130px;
    background-color: rgba(143, 205, 203, 0.778);
    align-items: right;
    
}

    .container
    {
        background-color: aliceblue;
        font-family:'Archivo';
        background-image:url('dom-fou-YRMWVcdyhmI-unsplash.jpg');
        height: 100px;
        
    }
    .BIT{
        height: 200px;
	font-family: 'Poppins' sans-serif;
	font-size: 10vw;
	text-transform: uppercase;
	overflow: hidden;
    
    }
    
        .BIT span:nth-child(1)
{
    animation-name: BITleft ;

}
.BIT span:nth-child(2)
{
	animation-name: BITleft;
	animation-delay: .3s;
}

.BIT span:nth-child(3)
{
	animation-name: BITleft;
	animation-delay: .3s;
}@keyframes BITleft{
	50%{
		transform: skew(50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}


@keyframes BITleft{
	50%{
		transform: skew(-50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
    }